{% extends 'main.html' %}

{% block main_section %}  
   <table>
            <tr>
                <td><img src="https://static.tildacdn.com/tild3065-6439-4434-b835-343434303061/IMG_8672_Edited.JPG" /></td>
                <td><img src="https://static.tildacdn.com/tild6365-3433-4434-a662-353332616332/64CC0E4A-4DF3-4690-8.JPG" /></td>
                <td><img src="https://static.tildacdn.com/tild3331-6263-4434-b030-353063326234/IMG_6888_Edited.JPG" /></td>

            </tr>
            <tr>
                <td><img src="https://static.tildacdn.com/tild3162-3038-4664-b235-383737376535/IMG_3346_Edited.JPG" /></td>
                <td><img src="https://static.tildacdn.com/tild3839-3531-4565-a462-643866353037/IMG_5505_Edited.JPG" /></td>
                <td><img src="https://static.tildacdn.com/tild3033-3165-4764-a462-333732643234/IMG_4024.jpg" /></td>
            </tr>
            <tr>
                <td><img src="https://static.tildacdn.com/tild3538-6137-4138-b639-396439616663/IMG_7671.jpg" /></td>
                <td><img src="https://static.tildacdn.com/tild6634-3164-4163-b638-656336353839/IMG_9009.jpg" /></td>
                <td><img src="https://static.tildacdn.com/tild3363-3362-4938-a138-326438373231/IMG_9829.jpg" /></td>
            </tr>
        </table>
{% endblock main_section %}
