{% extends 'main.html' %}
{% block main_section %}

    <H1>Зарегистрироваться<H1>

    <div class="form-auth form">

        <form method="POST" action="/reg" class="auth-form">
            <div class="user-box">
                <input type="text" id="typeLoginX" name="loginField"/>
                <label for="loginField">Логин</label>
            </div>
            <div class="user-box">
                <input type="password" id="typePasswordX" name="passField"/>
                <label for="passField">Пароль</label>
            </div>
            <div class="user-box">
                <input type="email" id="typeEmailX" name="emailField"/>
                <label for="emailField">Почтовый ящик</label>
            </div>
            <button type="submit" id="sendbtn">Зарегистрироваться</button>
        </form>
    </div>

{% endblock main_section %}
